/*
Weather dashboard
- Steve Barry -
Media CSS file
*/


@media screen and (max-width:850px) and (min-width:450px) {
    
}
@media screen and (max-width:550px) {
    body{
        overflow-y: visible;
    }
    footer{
        background-color: white; 
    }
    h5{
        width: 100%;
        text-align: center;
        font-weight: bold;
        height: 100%;
        display: block;
        color: var(--thirdColor);
        animation-name: copy550;
        animation-duration: 60s;
        animation-iteration-count: 999;
        margin:1%;
    }
    .aboutP{
        margin-bottom: 3vw;
        width: 85%;
        font-size: 110%;
        text-align: center;
    }
    
    h3{
        margin: 0;
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: 130%;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    #about, #code{
        margin-top: 4vw;
        width: 50%;
        border-right: 10px solid #F3B116;
        border-left: 10px solid #F3B116;
        padding-bottom: 27px;
        justify-content: center;
        background: #01b0f07d;
        border-radius: 100px;
        width: 78vw;
        align-items: center;
        padding-left:20px;
    }
    #contact{
        display: none;
    }
    #burger{
        display: block;
        float: right;
        width: fit-content;
    }
    .contactIcon{
        margin: 0;
    }
}