.scroll::-webkit-scrollbar {
    background:transparent;
    height: 8px;
}

.scroll::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--h_color);    
    border-radius: 10px;  
    border: 1px solid darkgray; 
    height: 5px;
}
.scroll::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0);
}


#displayList{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    height: 210px;
}